body {
  margin: 0;
  background: #222;
}

svg {
  width: 100vw;
  height: 100vh;
}

.road {
  fill: none;
  stroke: white;
  stroke-width: 12;
  stroke-linecap: round;
}

#junction {
  fill: #2ecc71;
}

#cart {
  fill: #f1c40f;
}